.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s linear;
}

.modal__opened{
    visibility: visible; 
    opacity: 1;
}     
.modal__content {
  background-color: #fff;
  border-radius: 12px;
  position: relative;
  padding: 28px 28px 36px;
  max-width: 496px;
  max-height: 456px;
  box-sizing: border-box;
  width: 100%;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.modal__title {
  margin: 28px 0 24px;
  font-family: "CabinetGrotesk-Medium";
  font-weight: 700;
  font-size: 16px;
}

.modal__close-btn {
  margin-top: 20px;
  position: absolute;
  height: 16px;
  width: 16px;
  top: 20px;
  right: 28px;
  border: none;
  cursor: pointer;
  background-image: url("../images/close-btn.svg");
}
.modal__radio-buttons {
  padding: 0;
  margin-top: 0;
  border: none;
  display: flex;
  flex-direction: column;
}
.modal__label {
  font-family: "CabinetGrotesk-Medium";
  font-weight: 700;
}

.modal__label_type_radio {
  margin-bottom: 8px;
  color: rgba(0, 0, 0, 0.5);
  transition: color 0.1s linear;
}

.modal__label_type_radio:has(:checked) {
  color: rgba(0, 0, 0, 1);
}

.modal__input {
  display: block;
  margin-top: 8px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 26px;
}

.modal__addGarment {
    width: 124px;
    height: 36px;
    border-radius: 4px;
    gap: 8px;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    border: none;
    background-color: #0000004D;
    color:#fff; 

    
}

.modal__legend{
  margin-bottom: 12px;
}
